version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/packages/typespec-rust"
    schedule:
      interval: "weekly"
    ignore:
      # Updated manually to align with minimum supported Node version
      - dependency-name: "@types/node"
    groups:
      typespec:
        patterns:
          - "*azure-tools/azure-http-specs"
          - "*typespec*"
      eslint:
        patterns:
          - "*eslint*"
      vitest:
        patterns:
          - "*vitest*"
      codegen:
        patterns:
          - "*azure-tools/codegen"
          - "*azure-tools/linq"
      turndown:
        patterns:
          - "*turndown"
    # Leave the constraint if the original constraint allows the new version, otherwise, bump the constraint.
    versioning-strategy: increase-if-necessary
